<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script type="text/javascript" src="chatclient.js" crossorigin="anonymous" async></script>
</head>
<body>
<div>
    <div>Name:<input id="tbName"/><button id="btnConnect">Connect</button></div>
    <div id="chatblock">
        <div><input id="tbPhrase"><button id="btnSend">Send</button></div>
    </div>
    <div id="chattext">
        
    </div>
</div>
</body>
</html>